/* === root elements @index === */
:root {
  font-family: Rajdhani, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: white;
  --color-primary: slateblue;
  --color-secondary: lavender;
  --color-danger: crimson;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-weight: 500;
}

#root {
  width: 100%;
}
/* ====== */

/* === common-css @index === */
/* == buttons == */
.btn {
  display: inline-flex;
  padding: 10px;
  font-size: 2rem;
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 2px solid var(--color-primary);
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.btn--primary {
  color: var(--color-white);
  background-color: var(--color-primary);

  &:hover {
    color: var(--color-white);
    background-color: #ff9b9b;
    border-color: #ff9b9b;
  }
}

.btn--danger {
  background-color: var(--color-danger);
  border-color: var(--color-danger);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-danger);
  }
}
/* ==== */

/* == block == */
.container {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* ==== */

/* == alignment == */
.text-center {
  text-align: center;
}

.text-left {
  text-align: start;
}

.text-right {
  text-align: end;
}
/* ==== */

/* == spacing == */
.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mt-10px {
  margin-top: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mr-10px {
  margin-right: 10px;
}
/* ==== */
/* ====== */

/* === header, footer @index === */
header,
footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-primary);
}

header {
  padding: 20px;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
}

footer {
  padding: 10px;
  font-weight: 500;
  font-size: 2rem;
}
/* ====== */

/* === tags/elements @index === */
main {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 500;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

ul {
  padding-left: 20px;
}

li {
  color: var(--color-primary);
  font-size: 2rem;
}

li + li {
  margin-top: 20px;
}

input[type="text"] {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2rem;
  color: var(--color-primary);
  border-radius: 5px;
}

input[type="checkbox"] {
  border: 1px solid var(--color-primary);
}
/* ====== */

/* === miscellaneous @index === */
.text-light {
  color: var(--color-secondary);
}

.text-danger {
  color: var(--color-danger);
}

.info {
  font-size: 3rem;
  font-weight: 500;
}
/* ====== */
